.root {
	-fx-background-color: linear-gradient(#A1B56C,#FFFFFF);
	/*-fx-background-color: linear-gradient(#C34500,#FFFFFF);*/
}

.red {
	-fx-background-color: red;
}


.label {
	-fx-font-size: 16px;
	-fx-text-fill: black;
	/*-fx-effect: dropshadow( gaussian, rgba(255,255,255,0.5), 0,0,0,1);*/
}
.button {
	
}

.title-text {
	-fx-font-size: 20px;
	/*-fx-effect: innershadow( three-pass-box, rgba(0,0,0,0.7), 6, 0.0, 0,2);*/
}

.heading-text {
	-fx-font-size: 18px;
}