.root {
	-fx-background-color: linear-gradient(#A1B56C,#FFFFFF);
	/*-fx-background-color: linear-gradient(#C34500,#FFFFFF);*/
}

.red {
	-fx-background-color: red;
}
.control-text {
	-fx-font-size: 16px;
	
}
.title-text {
	-fx-font-size: 20px;
}

.heading-text {
	-fx-font-size: 18px;
}