.root {
	/*-fx-background-color: linear-gradient(#A1B56C,#FFFFFF);*/
	-fx-background-color: linear-gradient(#FFFFFF,#A1B56C);
	/*-fx-background-color: linear-gradient(#C34500,#FFFFFF);*/
	/*-fx-background-color: blue;*/
}
.navRoot {
	/*-fx-background-color: linear-gradient(#A1B56C,#FFFFFF);*/
	-fx-background-color: linear-gradient(#FFFFFF,#A1B56C);
	/*-fx-background-color: linear-gradient(#C34500,#FFFFFF);*/
	/*-fx-background-color: blue;*/
}
.resultsReviewRoot {
	-fx-background-color:#EEEEEE;
}
.node {
	-fx-background-color: transparent;
	
}
/* 
.accordion .titled-pane .title  {
    -fx-background-color: transparent ;
}
*/ 

.accordion .titled-pane > *.content{
    -fx-background-color: transparent ;
}

/* .titled-pane > * > * > AnchorPane {
    -fx-padding: 0em ;
}*/
.vbox {
	-fx-background-color: transparent ;
}
.hbox {
	-fx-background-color: transparent ;
}
.anchor-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {  
   	-fx-background-color: transparent;
}

.scroll-pane {  
   	-fx-background-color: transparent;
}
.text-area {
	-fx-background-color: transparent;
	-fx-text-box-border: transparent;
	-fx-font-size: 14px;
}
.text-area .content {
    -fx-background-color: transparent, transparent, transparent, transparent;
    
}
.label {
	-fx-font-size: 17px;
	-fx-text-fill: black;
	-fx-background-color: transparent;
}
.button {
	-fx-font-size: 15px;
	-fx-padding-top: 6px;
	-fx-padding-bottom: 6px;
	-fx-padding-left: 20px;
	-fx-padding-right: 20px;
	-fx-min-width: 100px;
}
.radio-button {
	-fx-font-size: 15px;
}
.text-field {
	-fx-font-size: 15px;
}
.password-field {
	-fx-font-size: 15px;
}
.uploaded {
	-fx-background-color:#C0FFC0;
}
.choice-box.short {
	-fx-font-size: 12px;
}
.short-choice-box {
	-fx-font-size: 12px;
}
.choice-box {
	-fx-font-size: 15px;
}
.combo-box {
	-fx-font-size: 15px;
}
.check-box {
	-fx-font-size: 13px;
}
.small-heading-text{
	-fx-font-size: 12px;
}

.title-text {
	-fx-font-size: 20px;
}

.heading-text {
	-fx-font-size: 18px;
}
.stepListLabelBold {
	-fx-font-size: 13px;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}
.stepListLabelGrey {
	-fx-font-size: 13px;
	-fx-text-fill: grey;
}
.stepListLabel {
	-fx-font-size: 13px;
	-fx-text-fill: black;
}
.resultSummaryHeading {
	-fx-font-size: 14px;
	-fx-text-fill: black;
}

.resultSummaryValue {
	-fx-font-size: 11px;
	-fx-text-fill: black;
}
.label.columnHeader {
	-fx-background-color:#EEEEEE;
	-fx-font-size:14px;
	font-style:bold;
	-fx-font-name:arial;
	-fx-padding:2px 8px 2px 8px;
}
.label.columnValue {
	/*-fx-background-color:#CCCCCC;*/
	-fx-font-size:13px;
	font-style:plain;
	-fx-font-name:arial;
	-fx-padding:2px 8px 2px 8px;
}
.label.uploadedScore {
	-fx-background-color:#CCCCFF;
}
.label.summaryHeader {
	-fx-font-size:14px;
	font-style:italic;
	-fx-font-name:arial;
}
.label.summaryValue {
	-fx-font-size:14px;
	font-style:plain;
	-fx-font-name:arial;
}
.label.issueText {
	-fx-font-size:13px;
	font-style:plain;
	-fx-font-name:arial;
}
.label.issueAlert {
	-fx-background-color:#FFFF00;
}
.indentedFirstColumn {
	-fx-margin-left:10px;
}
.imageGrid {
	-fx-background-color:white;
}
/*
 * TITLED PANE
 */
 