<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{3} - %msg%n"/>
		</Console>
		<!-- HAD TO TURN append to "true" to get the rolling appender to work -->
		<RollingFile name="mainLog" fileName="../../../logs/acvlog.txt" filePattern="../../../logs/acvlog-%d{yyyyMMdd}-%i.txt" append="true" bufferedIO="true" immediateFlush="true" bufferSize="1024">
				<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{3} - %msg%n"/>
				<DefaultRolloverStrategy max="40" fileIndex="max"/>
				<Policies>
					<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      				<OnStartupTriggeringPolicy />
      			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="mainLog"/>
		</Root>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.javafxui" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.algorithm" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.core" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.dataSource" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.normalized" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.results" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.scoring" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.session" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.steps" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.ui.javafx" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.ws" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.ws.bisque" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
		<Logger name="edu.oregonstate.eecs.iis.avatolcv.ws.morphobank" level="info" additivity="false">
			<AppenderRef ref="mainLog"/>
		</Logger>
	</Loggers>
</Configuration>